{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<body>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> Update Record </h3>
        <h5>Update your record down Below.</h5>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-info">
                Update Record  &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </button>
            &nbsp;
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">
                Return  &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </form>
    </div>
</body>

{% endblock %}